    @{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>HTML</h2>
        <h3>CLASE 1</h3>
        <ul>
            <li>@Html.ActionLink("Tablas", "Tablas", "HTML")</li>
            <li>@Html.ActionLink("Tablas Avanzadas", "TablasAvanzadas", "HTML")</li>
            <li>@Html.ActionLink("Listas", "Listas", "HTML")</li>
            <li>@Html.ActionLink("Ejemplo Combo", "Combo", "HTML")</li>
        </ul>
        <h3>CLASE 3</h3>
        <ul>
            <li>@Html.ActionLink("Conceptos Básicos 1", "ConceptosBasicos1", "HTML")</li>
            <li>@Html.ActionLink("Conceptos Básicos 2", "ConceptosBasicos2", "HTML")</li>
            <li>@Html.ActionLink("Conceptos Básicos 3", "ConceptosBasicos3", "HTML")</li>
            <li>@Html.ActionLink("Conceptos Básicos 3 (2do enunciado)", "ConceptosBasicos3Parte2", "HTML")</li>
            <li>@Html.ActionLink("Enlaces", "Enlaces", "HTML")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>CSS</h2>
        <h3>CLASE 1</h3>
        <ul>
            <li>@Html.ActionLink("Ejercicio Clase 1", "EjercicioC1", "CSS")</li>
            <li>Listas.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>JavaScript</h2>
        <h3>CLASE 1</h3>
        <ul>
            <li>Tablas.</li>
            <li>Listas.</li>
        </ul>
    </div>
</div>